__pycache__/
!go.sum
!scenarios/models/*.json
.terraform/
*.json
*.tfstate*
/deploy/g5k/inventory.json
/deploy/g5k/nodes.txt
/deploy/g5k/state.json
/distemctl
/hostagent
/local-run/
/out/
/runs/
/simnet
/simnet-vanilla
/testbed
/topdisc-node
/topdisc-node-legacy
figs/
scratch-*
/legacy/node-legacy
